@use "custom";

#header{
    height: 400px;
    background-image: url('../images/fond.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
}
.class{
    border: solid;
    border-radius: 5%;
}

#footer{
    
}